:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navyblue: #2e2f42;
    --cloud: #f4f4fd;
    --slate: #434455;
    --cornflower: #e7e9fc;
    --white: #ffffff;
    --grey: rgba(46, 47, 66, 0.7);
    --lightslate: #8e8f99;
    --dairy: #fcfcfc;
    --navyblue-modal: rgba(46, 47, 66, 0.4);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  
  /* HEADER */
  
  .header {
    border-bottom: 1px solid var(--cornflower);
    background: var(--white);
  }
  
  .container {
    min-width: 320px;
    max-width: 428px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .header-container,
  .header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-logo {
    color: var(--iris);
    font-family: 'Raleway' san-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 24px 0;
  }
  
  .link {
    text-decoration: none;
  }
  
  .textlogo {
    color: var(--navyblue);
  }
  
  .header-menu-list {
    display: none;
  }
  
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-active::after {
    content: '';
    border: 2px solid var(--ocean);
    border-radius: 2px;
    background-color: var(--ocean);
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  
  .menu-active,
  .menu-active:hover,
  .menu-active:focus,
  .header-address-link:hover,
  .header-address-link:focus {
    color: var(--ocean);
  }
  
  .header-address-list {
    display: none;
  }
  
  /* MOBILE APPROACH 468PX */
  
  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    color: var(--navyblue);
  }
  
  .menu-icon {
    fill: currentColor;
  }
  
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: var(--white);
    z-index: 200;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .hamburger-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    height: 32px;
    width: 32px;
    padding: 0;
    background-color: var(--cornflower);
    color: var(--navyblue);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .hamburger-close-button:hover,
  .hamburger-close-button:focus {
    background-color: var(--ocean);
    color: var(--white);
  }
  
  .hamburger-menu-list {
    display: flex;
    flex-direction: column;
    gap: 37px;
  }
  
  .hamburger-menu-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    letter-spacing: 0.02em;
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.07;
  }
  
  .hamburger-menu-link:hover,
  .hamburger-menu-link:focus {
    color: var(--ocean);
  }
  
  .hamburger-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  
  .hamburger-address {
    margin-top: -100px;
    color: var(--slate);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  
  .hamburger-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .hamburger-address-link {
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .hamburger-address-link:hover,
  .hamburger-address-link:focus {
    color: var(--ocean);
  }
  
  .highlight {
    color: var(--iris);
    font-weight: 700;
    font-size: 35px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  
  .hamburger-social-list {
    display: flex;
    justify-content: start;
    gap: 30px;
  
    @media screen and (min-width: 320px) and (max-width: 399px) {
      gap: 30px;
    }
    @media screen and (min-width: 400px) and (max-width: 467px) {
      gap: 50px;
    }
  }
  
  .hamburger-social-link {
    background-color: var(--iris);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cloud);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .hamburger-social-link:hover,
  .hamburger-social-link:focus {
    background-color: var(--ocean);
  }
  
  .hamburger-social-icon {
    fill: currentColor;
  }

/* Section 1 */

/* hw4 */
.first-section{
    background-color: var(--navyblue);
    padding: 112px 0;
    background-image: url(../images/dark-bg.png),
      url(../images/hero-bg-m.jpg),
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* hw4 */

/* hw7 */
.firstcon{
    text-align: center;
}
/* hw7 */

/* hw3 */
.first-title{
    color: var(--white);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 48px;
}

.hero-button {
    color: var(--white);
    background-color: var(--iris);
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .hero-button:hover,
  .hero-button:focus {
    background-color: var(--ocean);
    cursor: pointer;
  }

/* Section 1 */

/* section 2 */

/* hw3 */
.section{
    padding: 96px 0;
}

.secondcon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* section 2 and section 3 header two */
.secondarea,
.listarea{
    display: flex;
    gap: 72px;
    flex-direction: column;
}

.list-items{
    width: 100%;
} 

.section-text{
    width: 264px;
    height: auto;
}
/* hw3 */

/* hw7 */
.second-icon-container{
    display: none;
}
/* hw7 */

/* hw2 */
.section-two-headers{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    margin-bottom: 8px;
}

.paragraphs,
.employees-position{
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}



/* section 3 class */

.third-section{
    display: none;
}

.section-title{
    color: var(--navyblue);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}
/* section 3 class */

/* section 4 class */
.fourth-section{
    background-color: var(--cloud, #f4f4fd);
    margin: auto;
}

.listarea{
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.fourth-section-header{
    /* background-color: #f4f4fd; */
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    /* padding: 120px 0; */
    margin-bottom: 72px;
}

.fourth-section-items{
    padding: 32px 0;

}

.employees-color {
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    display: flex;
    padding: 0px 0px 32px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 264px;
    margin: 0 auto;
}

.display{
    margin-bottom: 30px;
}

.fourth-section-items{
    width: 232px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.social-network-list{
    display: flex;
    gap: 24px;
}

.socmed{
    width: 40px;
    height: 40px;
    list-style: none;
}

.socmed-link{
    background-color: var(--iris);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cloud);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socmed-link:hover{
    background-color: #404bbf;
}

.socmed-link:focus{
    background-color: #404bbf;
}

.socmed-svg-icon{
    fill: currentColor;
}

.employees-name{
    color: var(--navyblue);
    width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 20px;
    text-align: center;
}

.employees-position {
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-align: center;
}

/* Section 5 */
.customers-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 72px;
}

.customers-list-item{
    width: 168px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers-link{
    border: 1px solid var(--lightslate);
    border-radius: 4px;
    color: var(--lightslate);
    padding: 16px 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus{
    color: #404bbf;
    border-color: #404bbf;
}
.customers-icon{
    fill: currentColor;
}

/* Section 5 */



/* Porfolio pages */

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-flex {
    display: flex;
    justify-content: space-between;
  }

li{
   list-style: none;
   display: flex;
   gap: 40px;
}


.porfolio-link{
    text-decoration: none; 
}

.portfolio-link:hover,
.portfolio-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-section{
    padding-top: 96px;
    padding-bottom: 120px;
}



.portfolio-services{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
    text-align: left;
    /* text-transform: lowercase;
    text-decoration: none; */
}

.portfolio-category{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
    text-transform: capitalize;
}

.portfolio-card{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-portfolio{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.list-portfolio-color{
    width: calc((100% - 48px) / 3);
}

.portfolio-color-con{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-link{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-card,
.portfolio-link:focus .portfolio-card{
    transform: translateY(0%);
}

.list-child{
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    display: flex;
}

/* footer style */
.footer-hw{
    margin-right: 120px;
}

.footer-socmed{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--white);
    margin-bottom: 16px;
}

.footer-socmed-list{
    display: flex;
    gap: 16px;
    list-style: none;
}

.footer-socmed-items{
    width: 40px;
    height: 40px;
}

.footer-socmed-listitems-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socmed-listitems-link:hover, 
.footer-socmed-listitems-link:focus{
    background-color: #31d0aa;
}

.header-logo{
    color: var(--iris);
    font-family: 'Raleway' san-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 24px 0;
}

/* .logo span.weblogo,
.logo span.studio{
    text-decoration: none;
    color: var(--cloud);
} */

.foter{
    background-color: var(--navy-blue);
    padding: 100px 0;
}

.foter,
.container{
    display: flex;
    align-items: baseline;
}

.footer-paragraph{
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}

.studiologo{
    color: #f4f4fd;
}

.foterlink{
    line-height: 1.5;
    display: inline-block;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-bottom: 16px;
}

.footer-link{
    display: inline-block;
    margin-bottom: 16px;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;  
}

.modal-window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    /* min-height: 584px; */
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
}

.modal-button-circle{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition-property: background-color, border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus{
    color: var(--white);
    background-color: var(--ocean);
}

.modal-close-icon{
    width: 8px;
    height: 8px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus{
    fill: #ffffff;
}

/* homework 6 */

.subribe-text{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}


.form-container-list{
    gap: 24px;
    display: flex;
}

.footer-form-input{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.footer-form-button{
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}

.footer-form-svgsubscribe{
    margin-left: 16px;
}

.footer-form{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.positioning{
    margin-bottom: 8px 

}

.form-label-text{
    position: absolute;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--lightslate);
    display: block;
    margin-bottom: 4px;
}

.input-icon{
    position: relative;
}

.form-label-textarea{
    position: relative;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
    color: var(--lightslate);
}

.form-agree-box {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--lightslate);
    display: block;
    align-items: center;
    justify-content: flex-start;
    width: 360px;
    height: 16px;
    gap: 8px;
    margin-bottom: 4px;
  }

.form-agree-box-link{
    color: #4d5ae5;
}

.form-input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  


.form-input:focus,
.form-input:hover,
.form-textarea:focus,
.form-textarea:hover {
  border-color: var(--iris);
}

.form-input-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .form-input-icon,
.form-input:focus + .form-input-icon {
  fill: var(--iris);
}

.check-mark{
    width: 16px;
    height: 16px;
    border:  1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition:  background-color  250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.checkbox:checked + .form-agree-box > .check-mark {
    border: none;
    background-color: var(--ocean);
    fill: var(--cloud);
}

.checkbox {
    border: none;
    background-color: var(--ocean);
    fill: var(--cloud);
}

.commitment{
    margin-bottom: 16px;
}

.form-textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checking{
    margin-bottom: 24px;
}

.form-button_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-button{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio hw6 */

.footer-socials-text-add{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.custom-form-container{
    display: flex;
    gap: 24px;
    flex-direction: column;
}

/* TABLET APPROACH 768PX */

@media screen and (min-width: 768px) and (max-width: 1157px) 
{
.menu-toggle,
.menu-container {
    display: none;
}

.container{
    max-width: 768px;
}
  
/* HEADER */
  
.header-menu-list {
    display: flex;
    gap: 40px;
    margin-left: 120px;
  }

  .header-menu-link {
    font-size: 16px;
    color: var(--navyblue);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--iris);
  }

  .header-menu-link::after {
    content: '';
    border-radius: 2px;
    border: 2px solid transparent;
    height: 4px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:hover::after,
  .header-menu-link:focus::after {
    border: 2px solid var(--ocean);
    background-color: var(--ocean);
    width: 100%;
  }

  .menu-active::after {
    content: '';
    border: 2px solid var(--ocean);
    border-radius: 2px;
    background-color: var(--ocean);
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: transform 0.25s ease-out;
  }

  .underline-animation {
    position: relative;
  }
  .underline-animation::after {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    bottom: -2px;
    border-radius: 2px;
    position: absolute;
    transform: scaleX(0);
    background-color: var(--ocean);
    transition: transform 0.25s ease-out;
  }
  .underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-address-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
  }


/* section 1 */
.first-section{
    padding: 188px 0;
    /* background-image: url(../images/dark-hero-bg.png),
      url(../images/hero-bg-d.jpg),
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)); */
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-d.jpg);
    background-size: 1440px, 1440px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      /* background-image: url(../images/dark-hero-bg.png),
        url(../images/hero-bg-d@2x.jpg),
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)); */
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-d@2x.jpg);
    }
}

/* section 1 */

/* section 2 */
.section{
    padding: 120px 0;
}

.secondare,
.image-list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 0;
}

.list-item{
    width: calc((100% - 72px) / 4);
}

.second-icon-container{
    background-color: var(--cloud, #f4f4fd);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 100px;
    margin-bottom: 8px;
}

.section-two-headers{
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.section-text-paragraph{
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}
/* section 2 */


/* section 4 */

/* section 4 */

/* LAPTOP APPROACH 1158PX */

@media screen and (min-width: 1158px){
.menu-toggle{
    display: none;
}
  
.container{
    max-width: 1158px;
}
  
    /* HEADER */
  
    .header-menu-list {
        font-size: 16px;
        color: var(--navyblue);
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: flex;
        gap: 40px;
        margin-left: 76px;
      }
    
      .header-menu-link {
        font-size: 16px;
        color: var(--navyblue);
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    
      .header-menu-link:hover,
      .header-menu-link:focus {
        color: var(--iris);
      }
    
      .header-menu-link::after {
        content: '';
        border-radius: 2px;
        border: 2px solid transparent;
        height: 4px;
        width: 0;
        position: absolute;
        left: 0;
        bottom: -2px;
        transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1),
          background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
          border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    
      .header-menu-link:hover::after,
      .header-menu-link:focus::after {
        border: 2px solid var(--ocean);
        background-color: var(--ocean);
        width: 100%;
      }
    
      .menu-active::after {
        content: '';
        border: 2px solid var(--ocean);
        border-radius: 2px;
        background-color: var(--ocean);
        height: 4px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        transition: transform 0.25s ease-out;
      }
    
      .underline-animation {
        position: relative;
      }
      .underline-animation::after {
        display: block;
        content: '';
        width: 100%;
        height: 4px;
        bottom: -1px;
        border-radius: 2px;
        position: absolute;
        transform: scaleX(0);
        background-color: var(--ocean);
        transition: transform 0.25s ease-out;
      }
      .underline-animation:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    
      .header-address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
      }
    
      .header-address-link {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate);
      }
}

/* section 3 */
.section-no-top-padding {
    padding-top: 0;
    display: block;
}

.image-item {
    width: calc((100% - 72px) / 3);
}